<a href="https://colab.research.google.com/github/MJ-7-Kang/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_4%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# 오픈소스 기반 데이터 분석 4강 - 데이터 수집

In [ ]:
import pandas as pd

## data.csv 파일 읽기
df=pd.read_csv('data.csv',encoding='utf-8',sep=',',header=0)

print(df)

           날짜    체중  골격근량  체지방량
0  2025.02.06  64.7  30.0  11.1
1  2025.02.04  64.0  29.3  11.6

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## 4-2 JSON 파일 읽기

In [ ]:
import json
import pandas as pd

## data.json 파일 출력
with open ('data.json', mode='r',encoding='utf-8') as f:
    data=json.load(f)
print(data)
## data.json 파일 DataFrame 읽기
df = pd.read_json ('data.json', orient='records', encoding='utf-8')#, lines=false)

print(df)

{'매출데이터': [{'월': '2025-01', '매출액': 1000000, '비용': 700000, '이익': 300000}, {'월': '2025-02', '매출액': 1200000, '비용': 800000, '이익': 400000}, {'월': '2025-03', '매출액': 1500000, '비용': 900000, '이익': 600000}]}
                                               매출데이터
0  {'월': '2025-01', '매출액': 1000000, '비용': 700000,...
1  {'월': '2025-02', '매출액': 1200000, '비용': 800000,...
2  {'월': '2025-03', '매출액': 1500000, '비용': 900000,...

## 4-3 텍스트 파일 읽기 및 데이터 추출

In [ ]:
import re

## 파일(callcenter20250301.log) 오픈 및 읽기
with open('callcenter20250301.log', 'r', encoding='utf-8') as f:
    content = f.read()

## 주민등록번호 패턴 생성
pattern = re.compile (r'(\d{6})-(\d{7})')

## 주민등록번호 마스킹
masked_content = pattern.sub (r'\1-*******', content)

## 마스킹된 파일(callcenter20250301_masked.log) 오픈 및 쓰기
with open ('callcenter20250301_masked.log.txt', mode='w') as f:
    f.write (masked_content)

print("주민등록번호 마스킹 완료. 'callcenter20250301_masked.log.txt' 파일로 저장되었습니다.")

주민등록번호 마스킹 완료. 'callcenter20250301_masked.log.txt' 파일로 저장되었습니다.

## 4-4 Open-Meteo의 무료 날씨 API를 통한 특정 지역 온도 조회

In [ ]:
import requests
import json

url = "https://api.open-meteo.com/v1/forecast?=&=&current=temperature_2m"
params = {
    "latitude": "37.58638333",
    "longitude": "127.0203333",
    "current": "temperature_2m"
}

try:
    ## URL 및 파라미터 전송
    response = requests.get (url, params=params)
    response.raise_for_status()

    ## JSON 데이터 읽기
    data = response.json()

    print("API 응답:", data)
    print("서울시 종로구의 현재 온도는 : {0}{1} 입니다.".format(data['current']['temperature_2m'], data['current_units']['temperature_2m']))

except requests.exceptions.RequestException as e:
    print(f"API 호출 실패: {e}")
except json.JSONDecodeError as e:
    print(f"JSON 파싱 실패: {e}")

API 응답: {'latitude': 37.6, 'longitude': 127.0, 'generationtime_ms': 0.03552436828613281, 'utc_offset_seconds': 0, 'timezone': 'GMT', 'timezone_abbreviation': 'GMT', 'elevation': 29.0, 'current_units': {'time': 'iso8601', 'interval': 'seconds', 'temperature_2m': '°C'}, 'current': {'time': '2025-10-09T01:45', 'interval': 900, 'temperature_2m': 19.2}}
서울시 종로구의 현재 온도는 : 19.2°C 입니다.

## 4-5 Selenium과 lxml을 이용한 웹 스크래핑

In [ ]:
!curl -o google-chrome-stable_current_amd64.deb https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
!apt install ./google-chrome-stable_current_amd64.deb -y
!pip install selenium webdriver_manager

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  114M  100  114M    0     0   228M      0 --:--:-- --:--:-- --:--:--  229M
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Note, selecting 'google-chrome-stable' instead of './google-chrome-stable_current_amd64.deb'
The following additional packages will be installed:
  libvulkan1 mesa-vulkan-drivers
The following NEW packages will be installed:
  google-chrome-stable libvulkan1 mesa-vulkan-drivers
0 upgraded, 3 newly installed, 0 to remove and 38 not upgraded.
Need to get 10.9 MB/131 MB of archives.
After this operation, 448 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy/main amd64 libvulkan1 amd64 1.3.204.1-2 [128 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mesa-vulkan-drivers amd64 23.2.1-1ubuntu3.1~22.04.3 [10.7 MB]
Get:3 /content/google-chrome-stable_current_amd64.deb google-chrome-stable amd64 141.0.7390.65-1 [121 MB]
Fetched 10.9 MB in 2s (6,345 kB/s)
Selecting previously unselected package libvulkan1:amd64.
(Reading database ... 126675 files and directories currently installed.)
Preparing to unpack .../libvulkan1_1.3.204.1-2_amd64.deb ...
Unpacking libvulkan1:amd64 (1.3.204.1-2) ...
Selecting previously unselected package google-chrome-stable.
Preparing to unpack .../google-chrome-stable_current_amd64.deb ...
Unpacking google-chrome-stable (141.0.7390.65-1) ...
Selecting previously unselected package mesa-vulkan-drivers:amd64.
Preparing to unpack .../mesa-vulkan-drivers_23.2.1-1ubuntu3.1~22.04.3_amd64.deb ...
Unpacking mesa-vulkan-drivers:amd64 (23.2.1-1ubuntu3.1~22.04.3) ...
Setting up libvulkan1:amd64 (1.3.204.1-2) ...
Setting up mesa-vulkan-drivers:amd64 (23.2.1-1ubuntu3.1~22.04.3) ...
Setting up google-chrome-stable (141.0.7390.65-1) ...
update-alternatives: using /usr/bin/google-chrome-stable to provide /usr/bin/x-www-browser (x-www-browser) in auto mode
update-alternatives: using /usr/bin/google-chrome-stable to provide /usr/bin/gnome-www-browser (gnome-www-browser) in auto mode
update-alternatives: using /usr/bin/google-chrome-stable to provide /usr/bin/google-chrome (google-chrome) in auto mode
Processing triggers for man-db (2.10.2-1) ...
Processing triggers for mailcap (3.70+nmu1ubuntu1) ...
Processing triggers for libc-bin (2.35-0ubuntu3.8) ...
/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm_debug.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libhwloc.so.15 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero_v2.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libumf.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

Collecting selenium
  Downloading selenium-4.36.0-py3-none-any.whl.metadata (7.5 kB)
Collecting webdriver_manager
  Downloading webdriver_manager-4.0.2-py2.py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: urllib3<3.0,>=2.5.0 in /usr/local/lib/python3.12/dist-packages (from urllib3[socks]<3.0,>=2.5.0->selenium) (2.5.0)
Collecting trio<1.0,>=0.30.0 (from selenium)
  Downloading trio-0.31.0-py3-none-any.whl.metadata (8.5 kB)
Collecting trio-websocket<1.0,>=0.12.2 (from selenium)
  Downloading trio_websocket-0.12.2-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: certifi>=2025.6.15 in /usr/local/lib/python3.12/dist-packages (from selenium) (2025.8.3)
Requirement already satisfied: typing_extensions<5.0,>=4.14.0 in /usr/local/lib/python3.12/dist-packages (from selenium) (4.15.0)
Requirement already satisfied: websocket-client<2.0,>=1.8.0 in /usr/local/lib/python3.12/dist-packages (from selenium) (1.8.0)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from webdriver_manager) (2.32.4)
Requirement already satisfied: python-dotenv in /usr/local/lib/python3.12/dist-packages (from webdriver_manager) (1.1.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from webdriver_manager) (25.0)
Requirement already satisfied: attrs>=23.2.0 in /usr/local/lib/python3.12/dist-packages (from trio<1.0,>=0.30.0->selenium) (25.3.0)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.12/dist-packages (from trio<1.0,>=0.30.0->selenium) (2.4.0)
Requirement already satisfied: idna in /usr/local/lib/python3.12/dist-packages (from trio<1.0,>=0.30.0->selenium) (3.10)
Collecting outcome (from trio<1.0,>=0.30.0->selenium)
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: sniffio>=1.3.0 in /usr/local/lib/python3.12/dist-packages (from trio<1.0,>=0.30.0->selenium) (1.3.1)
Collecting wsproto>=0.14 (from trio-websocket<1.0,>=0.12.2->selenium)
  Downloading wsproto-1.2.0-py3-none-any.whl.metadata (5.6 kB)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in /usr/local/lib/python3.12/dist-packages (from urllib3[socks]<3.0,>=2.5.0->selenium) (1.7.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->webdriver_manager) (3.4.3)
Requirement already satisfied: h11<1,>=0.9.0 in /usr/local/lib/python3.12/dist-packages (from wsproto>=0.14->trio-websocket<1.0,>=0.12.2->selenium) (0.16.0)
Downloading selenium-4.36.0-py3-none-any.whl (9.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.6/9.6 MB 83.7 MB/s eta 0:00:00
Downloading webdriver_manager-4.0.2-py2.py3-none-any.whl (27 kB)
Downloading trio-0.31.0-py3-none-any.whl (512 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 512.7/512.7 kB 29.8 MB/s eta 0:00:00
Downloading trio_websocket-0.12.2-py3-none-any.whl (21 kB)
Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Installing collected packages: wsproto, outcome, webdriver_manager, trio, trio-websocket, selenium
Successfully installed outcome-1.3.0.post0 selenium-4.36.0 trio-0.31.0 trio-websocket-0.12.2 webdriver_manager-4.0.2 wsproto-1.2.0

In [ ]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from lxml import html
import time

chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')               # 브라우저 창 없이 실행
chrome_options.add_argument('--no-sandbox')             # 보안모드 비활성화 (Colab 필수)
chrome_options.add_argument('--disable-dev-shm-usage')  # 메모리 부족 방지 (Colab 필수)
chrome_options.add_argument('--window-size=1920x1080')  # 창 크기 설정(가상)
chrome_options.add_argument('--disable-gpu')            # GPU 가속 비활성화 (일부 환경 안정성)
chrome_options.binary_location = "/usr/bin/google-chrome-stable"  # Colab용 크롬 경로 지정

## 드라이버 실행
driver = webdriver.Chrome(options=chrome_options)

## 사이트 접속
url = 'https://professor.knou.ac.kr/jaehwachung/index.do'
driver.get(url)

## 사이트 접속 대기
time.sleep(2)

## 페이지 제목 출력
page_source = driver.page_source
tree = html.fromstring (page_source)
title_text = tree.xpath ('//title/text()')
print (title_text)
## 드라이버 종료
driver.quit()

ModuleNotFoundError: No module named 'selenium'


# 실습 시나리오

## 공공데이터 포털 가입 및 데이터 신청

- [https://www.data.go.kr](https://www.data.go.kr)
- 한국환경공단 에어코리아 대기오염정보 데이터 신청

In [118]:
import requests
import pandas as pd
import time

## 데이터 수집 url 및 api key 설정
#url= 'http://openapi.seoul.go.kr:8088/7843766f7a6d7975363349635a6b65/json/energyUseDataSummaryInfo/1/5/2025/01/'


API_KEY = "7843766f7a6d7975363349635a6b65"
SERVICE_NAME = "energyUseDataSummaryInfo"  # 회원유형별 통계정보 서비스명
REQUEST_TYPE = "json"
BASE_URL = f"http://openapi.seoul.go.kr:8088/{API_KEY}/json/energyUseDataSummaryInfo/1/5"
MEMBER_TYPE="개인"

all_data = []
responses = []

for year in range(2015, 2015+1): #2024+1):
   for month in range(1,5): #12+1):
      str_year = str(year)
      str_month = str(month).zfill(2)
      url = f"{BASE_URL}/{str_year}/{str_month}/"
      print (url)

      #response = requests.get (url)
      #if response.status_code == 200:
      #   print(str_year, str_month, "api 호출 성공", '\r')
      #   data=response.json()['energyUseDataSummaryInfo']['row']
      #   df = pd.DataFrame(data)
      #   responses

      #else:
      #   print(f"API 호출 실패: {response.status_code}")

      response = requests.get(url, timeout=10)
      if response.status_code == 200:

            #response.raise_for_status()  # HTTP 오류 발생 시 예외 발생
            #data = response.json()['energyUseDataSummaryInfo']['row']
            data = response.json()
            print(data)

            #data = response
            #data = response.json()
            #all_data.append(data)
            if SERVICE_NAME in data:
                result = data[SERVICE_NAME]
                if 'row' in result:
                    rows = result['row']
                    for row in rows:
                        all_data.append(row)
                else:
                    # 해당 월에 데이터가 없을 경우
                    print(f"[{str_year}-{str_month}] 데이터가 없습니다.")

        #  except requests.exceptions.RequestException as e:
        #    print(f"[{str_year}-{str_month}] API 호출 중 오류 발생: {e}")
        #  except Exception as e:
        #    print(f"[{str_year}-{str_month}] 데이터 처리 중 오류 발생: {e}")
        # API 호출 제한 방지를 위해 1초 대기
            time.sleep(1)

# 수집된 데이터를 데이터프레임으로 변환
if all_data:
    df = pd.DataFrame(all_data)
df
#response['날짜'] = f'{year}{month:02d}'  # 날짜형식: 201501

# DataFrame 생성
###data=responses.json()['energyUseDataSummaryInfo']['row']
#data=responses.json()
#df = pd.DataFrame(responses)
#df

http://openapi.seoul.go.kr:8088/7843766f7a6d7975363349635a6b65/json/energyUseDataSummaryInfo/1/5/2015/01/
{'energyUseDataSummaryInfo': {'list_total_count': 7, 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}, 'row': [{'YEAR': '2015', 'MON': '01', 'MM_TYPE': '개인', 'CNT': '767791', 'EUS': '193784708', 'EUS1': '194781915', 'EUS2': '204969429', 'ECO2_1': '-6090964', 'ECO2_2': '-2582568.736', 'GUS': '59133720', 'GUS1': '57163993', 'GUS2': '68297619', 'GCO2_1': '-3597086', 'GCO2_2': '-8057472.64', 'WUS': '12819757.886', 'WUS1': '12723680.426', 'WUS2': '12899476.73', 'WCO2_1': '8179.308', 'WCO2_2': '2715.530256', 'HUS': '22740838.937', 'HUS1': '23400055.303', 'HUS2': '27090493.875', 'HCO2_1': '-2504435.652', 'HCO2_2': '-33660084.213069', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': '학교', 'CNT': '1382', 'EUS': '134955565', 'EUS1': '128707423', 'EUS2': '145561511', 'ECO2_1': '-2178902', 'ECO2_2': '-923854.448', 'GUS': '9107197', 'GUS1': '8410968', 'GUS2': '10745416', 'GCO2_1': '-470995', 'GCO2_2': '-1055028.8', 'WUS': '2075819.2', 'WUS1': '2097433.8', 'WUS2': '2133200.8', 'WCO2_1': '-39498.1', 'WCO2_2': '-13113.3692', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': '종교단체', 'CNT': '32', 'EUS': '372270', 'EUS1': '363376', 'EUS2': '411363', 'ECO2_1': '-15099.5', 'ECO2_2': '-6402.188', 'GUS': '53331', 'GUS1': '45727', 'GUS2': '63312', 'GCO2_1': '-1188.5', 'GCO2_2': '-2662.24', 'WUS': '5945', 'WUS1': '4548', 'WUS2': '4519', 'WCO2_1': '1411.5', 'WCO2_2': '468.618', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': '소상공인', 'CNT': '2058', 'EUS': '10249618', 'EUS1': '9927610', 'EUS2': '11039593', 'ECO2_1': '-233983.5', 'ECO2_2': '-99209.004', 'GUS': '536119', 'GUS1': '523810', 'GUS2': '642921', 'GCO2_1': '-47246.5', 'GCO2_2': '-105832.16', 'WUS': '147273', 'WUS1': '146480.6', 'WUS2': '147325.6', 'WCO2_1': '369.9', 'WCO2_2': '122.8068', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': '공동주택관리소', 'CNT': '1747', 'EUS': '327102096', 'EUS1': '329852334', 'EUS2': '351694752', 'ECO2_1': '-13671447', 'ECO2_2': '-5796693.528', 'GUS': '22834274', 'GUS1': '21141017', 'GUS2': '25338506', 'GCO2_1': '-405487.5', 'GCO2_2': '-908292', 'WUS': '12844807.5', 'WUS1': '12763070', 'WUS2': '12979835.8', 'WCO2_1': '-26645.4', 'WCO2_2': '-8846.2728', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}]}}
http://openapi.seoul.go.kr:8088/7843766f7a6d7975363349635a6b65/json/energyUseDataSummaryInfo/1/5/2015/02/
{'energyUseDataSummaryInfo': {'list_total_count': 7, 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}, 'row': [{'YEAR': '2015', 'MON': '02', 'MM_TYPE': '개인', 'CNT': '774620', 'EUS': '189974230', 'EUS1': '193611430', 'EUS2': '200055533', 'ECO2_1': '-6859251.5', 'ECO2_2': '-2908322.636', 'GUS': '56487358', 'GUS1': '59353536', 'GUS2': '66191173', 'GCO2_1': '-6284996.5', 'GCO2_2': '-14078392.16', 'WUS': '12656888.218', 'WUS1': '12713146.172', 'WUS2': '12948410.081', 'WCO2_1': '-173889.9085', 'WCO2_2': '-57731.449622', 'HUS': '18793320.213', 'HUS1': '19032221.757', 'HUS2': '21414367.325', 'HCO2_1': '-1429974.328', 'HCO2_2': '-17311712.76832', 'REG_DATE': '2015-06-04 16:59:30.0'}, {'YEAR': '2015', 'MON': '02', 'MM_TYPE': '기업', 'CNT': '16966', 'EUS': '523325778', 'EUS1': '542435234', 'EUS2': '567181200', 'ECO2_1': '-31482439', 'ECO2_2': '-13348554.136', 'GUS': '32508993', 'GUS1': '35169022', 'GUS2': '44168086', 'GCO2_1': '-7159561', 'GCO2_2': '-16037416.64', 'WUS': '6859860.8', 'WUS1': '6853247.6', 'WUS2': '7071961.8', 'WCO2_1': '-102743.9', 'WCO2_2': '-34110.9748', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 16:59:30.0'}, {'YEAR': '2015', 'MON': '02', 'MM_TYPE': '소상공인', 'CNT': '2153', 'EUS': '9763412', 'EUS1': '9786829', 'EUS2': '10214569', 'ECO2_1': '-237287', 'ECO2_2': '-100609.688', 'GUS': '500186', 'GUS1': '506300', 'GUS2': '583970', 'GCO2_1': '-44949', 'GCO2_2': '-100685.76', 'WUS': '187015.2', 'WUS1': '183563.4', 'WUS2': '194518.373', 'WCO2_1': '-2025.6865', 'WCO2_2': '-672.527918', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 16:59:30.0'}, {'YEAR': '2015', 'MON': '02', 'MM_TYPE': '공공기관', 'CNT': '2981', 'EUS': '230038970', 'EUS1': '227707037', 'EUS2': '239494601', 'ECO2_1': '-3561849', 'ECO2_2': '-1510223.976', 'GUS': '10730599', 'GUS1': '10003033', 'GUS2': '13321495', 'GCO2_1': '-931665', 'GCO2_2': '-2086929.6', 'WUS': '1398431.4', 'WUS1': '1283504.4', 'WUS2': '1331699.8', 'WCO2_1': '90829.3', 'WCO2_2': '30155.3276', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 16:59:30.0'}, {'YEAR': '2015', 'MON': '02', 'MM_TYPE': '종교단체', 'CNT': '32', 'EUS': '336476', 'EUS1': '341646', 'EUS2': '366928', 'ECO2_1': '-17811', 'ECO2_2': '-7551.864', 'GUS': '46069', 'GUS1': '49077', 'GUS2': '58309', 'GCO2_1': '-7624', 'GCO2_2': '-17077.76', 'WUS': '2019', 'WUS1': '2093', 'WUS2': '2527', 'WCO2_1': '-291', 'WCO2_2': '-96.612', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 16:59:30.0'}]}}
http://openapi.seoul.go.kr:8088/7843766f7a6d7975363349635a6b65/json/energyUseDataSummaryInfo/1/5/2015/03/
{'energyUseDataSummaryInfo': {'list_total_count': 7, 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}, 'row': [{'YEAR': '2015', 'MON': '03', 'MM_TYPE': '학교', 'CNT': '3903', 'EUS': '145577747', 'EUS1': '140333207', 'EUS2': '148915260', 'ECO2_1': '673170', 'ECO2_2': '285424.08', 'GUS': '7601585', 'GUS1': '7048562', 'GUS2': '8350061', 'GCO2_1': '-97726.5', 'GCO2_2': '-218907.36', 'WUS': '2570265.8', 'WUS1': '2622179.4', 'WUS2': '2793577', 'WCO2_1': '-137612.4', 'WCO2_2': '-45687.3168', 'HUS': '48', 'HUS1': '34', 'HUS2': '41', 'HCO2_1': '10.5', 'HCO2_2': '41.811', 'REG_DATE': '2015-06-12 04:00:01.0'}, {'YEAR': '2015', 'MON': '03', 'MM_TYPE': '공공기관', 'CNT': '2048', 'EUS': '208343249', 'EUS1': '206515245', 'EUS2': '211942654', 'ECO2_1': '-13629158', 'ECO2_2': '-5778762.992', 'GUS': '8141963', 'GUS1': '7814746', 'GUS2': '9821117', 'GCO2_1': '-675968.5', 'GCO2_2': '-1514169.44', 'WUS': '1392249.2', 'WUS1': '1374222.8', 'WUS2': '1459810.8', 'WCO2_1': '-24767.6', 'WCO2_2': '-8222.8432', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-12 04:00:01.0'}, {'YEAR': '2015', 'MON': '03', 'MM_TYPE': '기업', 'CNT': '5334', 'EUS': '454517085', 'EUS1': '463464106', 'EUS2': '477564250', 'ECO2_1': '-16954537', 'ECO2_2': '-7188723.688', 'GUS': '21689961', 'GUS1': '20767213', 'GUS2': '26298201', 'GCO2_1': '-1842746', 'GCO2_2': '-4127751.04', 'WUS': '3992245', 'WUS1': '3999579', 'WUS2': '4116372.4', 'WCO2_1': '-65730.7', 'WCO2_2': '-21822.5924', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-12 04:00:01.0'}, {'YEAR': '2015', 'MON': '03', 'MM_TYPE': '소상공인', 'CNT': '12277', 'EUS': '46364443', 'EUS1': '46668562', 'EUS2': '48429447', 'ECO2_1': '-11152776', 'ECO2_2': '-4728777.024', 'GUS': '4535233', 'GUS1': '4422360', 'GUS2': '5707623', 'GCO2_1': '-529758.5', 'GCO2_2': '-1186659.04', 'WUS': '1381256.6', 'WUS1': '1405384.8', 'WUS2': '1488573.8', 'WCO2_1': '-65722.7', 'WCO2_2': '-21819.9364', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-12 04:00:01.0'}, {'YEAR': '2015', 'MON': '03', 'MM_TYPE': '종교단체', 'CNT': '227', 'EUS': '2819027', 'EUS1': '2752465', 'EUS2': '3096521', 'ECO2_1': '-732131', 'ECO2_2': '-310423.544', 'GUS': '303568', 'GUS1': '298193', 'GUS2': '374956', 'GCO2_1': '-33006.5', 'GCO2_2': '-73934.56', 'WUS': '23135', 'WUS1': '26200', 'WUS2': '28432', 'WCO2_1': '-4181', 'WCO2_2': '-1388.092', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-12 04:00:01.0'}]}}
http://openapi.seoul.go.kr:8088/7843766f7a6d7975363349635a6b65/json/energyUseDataSummaryInfo/1/5/2015/04/
{'energyUseDataSummaryInfo': {'list_total_count': 7, 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}, 'row': [{'YEAR': '2015', 'MON': '04', 'MM_TYPE': '학교', 'CNT': '4021', 'EUS': '134199179', 'EUS1': '130280899', 'EUS2': '148944597', 'ECO2_1': '-5413569', 'ECO2_2': '-2295353.256', 'GUS': '5544226', 'GUS1': '4827947', 'GUS2': '6248901', 'GCO2_1': '5802', 'GCO2_2': '12996.48', 'WUS': '3003915.8', 'WUS1': '3070009.2', 'WUS2': '3150480', 'WCO2_1': '-106328.8', 'WCO2_2': '-35301.1616', 'HUS': '9', 'HUS1': '8', 'HUS2': '16', 'HCO2_1': '-3', 'HCO2_2': '-11.946', 'REG_DATE': '2015-07-05 04:00:00.0'}, {'YEAR': '2015', 'MON': '04', 'MM_TYPE': '소상공인', 'CNT': '12488', 'EUS': '44335889', 'EUS1': '44591444', 'EUS2': '46398712', 'ECO2_1': '-1159189', 'ECO2_2': '-491496.136', 'GUS': '3324279', 'GUS1': '3161927', 'GUS2': '4301451', 'GCO2_1': '-407410', 'GCO2_2': '-912598.4', 'WUS': '1535366.6', 'WUS1': '1568041.4', 'WUS2': '1587003', 'WCO2_1': '-42155.6', 'WCO2_2': '-13995.6592', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-07-05 04:00:00.0'}, {'YEAR': '2015', 'MON': '04', 'MM_TYPE': '공동주택관리소', 'CNT': '1768', 'EUS': '291394437', 'EUS1': '294559733', 'EUS2': '309664586', 'ECO2_1': '-10717722.5', 'ECO2_2': '-4544314.34', 'GUS': '14161336', 'GUS1': '13462421', 'GUS2': '15980238', 'GCO2_1': '-559993.5', 'GCO2_2': '-1254385.44', 'WUS': '13376543.7', 'WUS1': '13333763.4', 'WUS2': '13350196.8', 'WCO2_1': '34563.6', 'WCO2_2': '11475.1152', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-07-05 04:00:00.0'}, {'YEAR': '2015', 'MON': '04', 'MM_TYPE': '기업', 'CNT': '5609', 'EUS': '436129598', 'EUS1': '448413355', 'EUS2': '459364439', 'ECO2_1': '-17759299', 'ECO2_2': '-7529942.776', 'GUS': '15169055', 'GUS1': '14667324', 'GUS2': '17942039', 'GCO2_1': '-1135626.5', 'GCO2_2': '-2543803.36', 'WUS': '4051942.6', 'WUS1': '4092409.6', 'WUS2': '4125632', 'WCO2_1': '-57078.2', 'WCO2_2': '-18949.9624', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-07-05 04:00:00.0'}, {'YEAR': '2015', 'MON': '04', 'MM_TYPE': '종교단체', 'CNT': '249', 'EUS': '2697190', 'EUS1': '3106519', 'EUS2': '3552647', 'ECO2_1': '-632393', 'ECO2_2': '-268134.632', 'GUS': '244845', 'GUS1': '204903', 'GUS2': '276957', 'GCO2_1': '3915', 'GCO2_2': '8769.6', 'WUS': '26436', 'WUS1': '28596', 'WUS2': '34681', 'WCO2_1': '-5202.5', 'WCO2_2': '-1727.23', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-07-05 04:00:00.0'}]}}

,YEAR,MON,MM_TYPE,CNT,EUS,EUS1,EUS2,ECO2_1,ECO2_2,GUS,...,WUS1,WUS2,WCO2_1,WCO2_2,HUS,HUS1,HUS2,HCO2_1,HCO2_2,REG_DATE
0,2015,01,개인,767791,193784708,194781915,204969429,-6090964,-2582568.736,59133720,...,12723680.426,12899476.73,8179.308,2715.530256,22740838.937,23400055.303,27090493.875,-2504435.652,-33660084.213069,2015-06-04 17:03:55.0
1,2015,01,학교,1382,134955565,128707423,145561511,-2178902,-923854.448,9107197,...,2097433.8,2133200.8,-39498.1,-13113.3692,0,0,0,0,0,2015-06-04 17:03:55.0
2,2015,01,종교단체,32,372270,363376,411363,-15099.5,-6402.188,53331,...,4548,4519,1411.5,468.618,0,0,0,0,0,2015-06-04 17:03:55.0
3,2015,01,소상공인,2058,10249618,9927610,11039593,-233983.5,-99209.004,536119,...,146480.6,147325.6,369.9,122.8068,0,0,0,0,0,2015-06-04 17:03:55.0
4,2015,01,공동주택관리소,1747,327102096,329852334,351694752,-13671447,-5796693.528,22834274,...,12763070,12979835.8,-26645.4,-8846.2728,0,0,0,0,0,2015-06-04 17:03:55.0
5,2015,02,개인,774620,189974230,193611430,200055533,-6859251.5,-2908322.636,56487358,...,12713146.172,12948410.081,-173889.9085,-57731.449622,18793320.213,19032221.757,21414367.325,-1429974.328,-17311712.76832,2015-06-04 16:59:30.0
6,2015,02,기업,16966,523325778,542435234,567181200,-31482439,-13348554.136,32508993,...,6853247.6,7071961.8,-102743.9,-34110.9748,0,0,0,0,0,2015-06-04 16:59:30.0
7,2015,02,소상공인,2153,9763412,9786829,10214569,-237287,-100609.688,500186,...,183563.4,194518.373,-2025.6865,-672.527918,0,0,0,0,0,2015-06-04 16:59:30.0
8,2015,02,공공기관,2981,230038970,227707037,239494601,-3561849,-1510223.976,10730599,...,1283504.4,1331699.8,90829.3,30155.3276,0,0,0,0,0,2015-06-04 16:59:30.0
9,2015,02,종교단체,32,336476,341646,366928,-17811,-7551.864,46069,...,2093,2527,-291,-96.612,0,0,0,0,0,2015-06-04 16:59:30.0
10,2015,03,학교,3903,145577747,140333207,148915260,673170,285424.08,7601585,...,2622179.4,2793577,-137612.4,-45687.3168,48,34,41,10.5,41.811,2015-06-12 04:00:01.0
11,2015,03,공공기관,2048,208343249,206515245,211942654,-13629158,-5778762.992,8141963,...,1374222.8,1459810.8,-24767.6,-8222.8432,0,0,0,0,0,2015-06-12 04:00:01.0
12,2015,03,기업,5334,454517085,463464106,477564250,-16954537,-7188723.688,21689961,...,3999579,4116372.4,-65730.7,-21822.5924,0,0,0,0,0,2015-06-12 04:00:01.0
13,2015,03,소상공인,12277,46364443,46668562,48429447,-11152776,-4728777.024,4535233,...,1405384.8,1488573.8,-65722.7,-21819.9364,0,0,0,0,0,2015-06-12 04:00:01.0
14,2015,03,종교단체,227,2819027,2752465,3096521,-732131,-310423.544,303568,...,26200,28432,-4181,-1388.092,0,0,0,0,0,2015-06-12 04:00:01.0
15,2015,04,학교,4021,134199179,130280899,148944597,-5413569,-2295353.256,5544226,...,3070009.2,3150480,-106328.8,-35301.1616,9,8,16,-3,-11.946,2015-07-05 04:00:00.0
16,2015,04,소상공인,12488,44335889,44591444,46398712,-1159189,-491496.136,3324279,...,1568041.4,1587003,-42155.6,-13995.6592,0,0,0,0,0,2015-07-05 04:00:00.0
17,2015,04,공동주택관리소,1768,291394437,294559733,309664586,-10717722.5,-4544314.34,14161336,...,13333763.4,13350196.8,34563.6,11475.1152,0,0,0,0,0,2015-07-05 04:00:00.0
18,2015,04,기업,5609,436129598,448413355,459364439,-17759299,-7529942.776,15169055,...,4092409.6,4125632,-57078.2,-18949.9624,0,0,0,0,0,2015-07-05 04:00:00.0
19,2015,04,종교단체,249,2697190,3106519,3552647,-632393,-268134.632,244845,...,28596,34681,-5202.5,-1727.23,0,0,0,0,0,2015-07-05 04:00:00.0

In [ ]:
import requests
import pandas as pd
import time
from tqdm import tqdm

# 발급받은 인증키를 입력하세요.
API_KEY = "7843766f7a6d7975363349635a6b65"

# API 정보 설정
SERVICE_NAME = "energyUseDataSummaryInfo"  # 회원유형별 통계정보 서비스명
REQUEST_TYPE = "json"
BASE_URL = f"http://openapi.seoul.go.kr:8088/{API_KEY}/{REQUEST_TYPE}/{SERVICE_NAME}"

# 수집할 기간 설정
start_year = 2015
end_year = 2024

# 수집된 데이터를 저장할 리스트
all_data = []

# 개인 유형 데이터만 필터링하기 위한 회원유형 코드 (01: 개인)

print("데이터 수집을 시작합니다...")

for year in tqdm(range(start_year, end_year + 1), desc="연도별 데이터 수집"):
    for month in range(1, 13):
        # YYYY, MM 포맷으로 년도와 월을 문자열로 변환
        str_year = str(year)
        str_month = str(month).zfill(2)

        # 요청 파라미터 조합 (회원유형, 년도, 월)
        # 1-1000은 한 번에 가져올 데이터의 범위를 지정합니다. API의 최대 요청 건수에 따라 조절이 필요합니다.
        url = f"{BASE_URL}/1/5/{MEMBER_TYPE}/{str_year}/{str_month}/"

        try:
            response = requests.get(url, timeout=10)
            response.raise_for_status()  # HTTP 오류 발생 시 예외 발생
            data = response.json()

            if SERVICE_NAME in data:
                result = data[SERVICE_NAME]
                if 'row' in result:
                    rows = result['row']
                    for row in rows:
                        all_data.append(row)
                else:
                    # 해당 월에 데이터가 없을 경우
                    print(f"[{str_year}-{str_month}] 데이터가 없습니다.")
            else:
                # API 응답 구조가 예상과 다를 경우
                print(f"[{str_year}-{str_month}] API 응답이 올바르지 않습니다: {data}")

        except requests.exceptions.RequestException as e:
            print(f"[{str_year}-{str_month}] API 호출 중 오류 발생: {e}")
        except Exception as e:
            print(f"[{str_year}-{str_month}] 데이터 처리 중 오류 발생: {e}")

        # API 호출 제한 방지를 위해 1초 대기
        time.sleep(1)

# 수집된 데이터를 데이터프레임으로 변환
if all_data:
    df = pd.DataFrame(all_data)

    # 데이터를 CSV 파일로 저장
    output_filename = f"ecomileage_individual_energy_usage_{start_year}_{end_year}.csv"
    df.to_csv(output_filename, index=False, encoding='utf-8-sig')

    print(f"\n총 {len(df)}건의 데이터를 수집하여 '{output_filename}' 파일로 저장했습니다.")
else:
    print("\n수집된 데이터가 없습니다. API 키 및 설정 정보를 확인하세요.")

데이터 수집을 시작합니다...

연도별 데이터 수집:   0%|          | 0/10 [00:00<?, ?it/s]

[2015-01] API 응답이 올바르지 않습니다: {'RESULT': {'CODE': 'INFO-200', 'MESSAGE': '해당하는 데이터가 없습니다.'}}
[2015-02] API 응답이 올바르지 않습니다: {'RESULT': {'CODE': 'INFO-200', 'MESSAGE': '해당하는 데이터가 없습니다.'}}
[2015-03] API 응답이 올바르지 않습니다: {'RESULT': {'CODE': 'INFO-200', 'MESSAGE': '해당하는 데이터가 없습니다.'}}
[2015-04] API 응답이 올바르지 않습니다: {'RESULT': {'CODE': 'INFO-200', 'MESSAGE': '해당하는 데이터가 없습니다.'}}

연도별 데이터 수집:   0%|          | 0/10 [00:06<?, ?it/s]

KeyboardInterrupt: